<div class="memo-wrapper">

	<div class="memo-main">
		<div class="memo">		
			<div class="memo-title">
				<span ng-class="{'memo-status-red': memo.status_id === 0, 'memo-status-yellow': memo.status_id === 1, 'memo-status-green': memo.status_id === 2, 'memo-status-none': memo.status_id === 3}"></span> {{memo.title}}
			</div>
			<div class="memo-content">
				{{memo.content}}
			</div>	
		</div>
	</div>
	
	<div class="memo-tools">
		<div class="fill" /></div>
		<div class="side-container">
			<a href="" class="tool-link" ng-click="edit({data: memo})"><i class="fa fa-pencil tool-icon" aria-hidden="true"></i></a>
			<br>
			<a href="" class="tool-link" ng-click="remove({data: memo})"><i class="fa fa-trash-o tool-icon" aria-hidden="true"></i></a>
			<br>
			<a href="" class="tool-link" ng-click="view({data: memo})"><i class="fa fa-search tool-icon" aria-hidden="true"></i></a>
		</div>
	</div>
</div>